@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: auto; */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background-color: white;
}
.nav1{
    display: flex;
    align-items: center;
}
.nav2{
    display: flex;
    align-items: center;
}
.nav1 a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    
}
.nav2 a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.nav1 a:hover{
    background-color: black;
    color: white;
}
.nav2 a:hover{
    background-color: black;
    color: white;
}
.hero{
    margin-top: 53.1px;
    /* position: relative; */
    width: 100%;
   
}

.heromain{
    position: relative;
    display: inline-block;
    /* bottom: 220px;
    left: 20px; */
    background-color: black;
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
    width: 100%;
}
.heromain img{
    width: 100%;
    display: block;
}
.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    
}
.caption h2{
    font-size: 30px;
    background-color: black;
    font-style: italic;
    padding: 8px;
}
