@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: auto; */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
}
.nav1{
    display: flex;
    align-items: center;
}
.nav2{
    display: flex;
    align-items: center;
}
.nav1 a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    
}
.nav2 a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.nav1 a:hover{
    background-color: black;
    color: white;
}
.nav2 a:hover{
    background-color: black;
    color: white;
}
.hero{
    margin-top: 53.1px;
    background-color: aqua;
    background-image:url(images/herophoto.jpg);
    width: 100%;
    height: auto;
    /* background-position: center;  */
    background-repeat: no-repeat; 
    background-size: cover;
}