@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

/*
NAVIGATION  
*/


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: auto; */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background-color: white;
}
.nav1{
    display: flex;
    align-items: center;
}
.nav2{
    display: flex;
    align-items: center;
}
.nav1 a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    
}
.nav2 a{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.nav1 a:hover{
    background-color: black;
    color: white;
}
.nav2 a:hover{
    background-color: black;
    color: white;
}


/*
HERO
*/




.hero{
    margin-top: 53.1px;
    /* position: relative; */
    width: 100%;
   
}

.heromain{
    position: relative;
    display: inline-block;
    /* bottom: 220px;
    left: 20px; */
    background-color: black;
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
    width: 100%;
}
.heromain img{
    width: 100%;
    display: block;
}
.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    
}
.caption h2{
    font-size: 30px;
    background-color: black;
    font-style: italic;
    padding: 8px;
}



/*
ABOUT 
*/



.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abouttext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abouticons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.abouticons div {
    text-align: center;
    padding: 10px;
}
.abouticons div img{
    width: 50px;
    height: auto;
}



/*
TEAM 
*/



.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 234, 234);
}
.teamtext{
    padding: 30px;
}
.teaminfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.teaminfo div {
    text-align: center;
    margin: 7px;
    background-color: white;
    border: 3px 3px 5px gray;
}


.teamimg{
    width: 100%;
}
.teambutton{
    text-decoration: none;
    color: black;
    background-color: rgb(234, 234, 234);
    padding: 5px 40px;
}
.teambutton:hover{
    background-color: gray;
}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 70px;
    background-color: rgb(99, 99, 99);
    color: white;
}


